.home__img__presentacion {
    @include fotos(100%,"", no-repeat, left bottom, cover);
    background-image: url(./img/Home/presentacion.webp);
}
.home__txt__presentacion {
    @include font($color_blanco, "", bold,"");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0 0 40px $color_negro;
}
.home__boton__presentacion {
    background-color: $color_primario !important;
    font-weight: bold;
}
.home__boton__presentacion:hover {
    color: $color_blanco !important;
}
.home__carousel__img {
    height: 65vh !important;
}
.home__img_colaboradoras {
    @include position(auto, 100%, "", "");
    align-content: center;
    padding: 2vh;
}
.home__container__img__colaboradoras {
    @include header(center, "", flex, center, "");
    transition: 0.7s;
}
.home__container__img__colaboradoras:hover {
    transform: scale(1.4);
    transition: 0.7s;
}
.home__cards {
    @include header("", "", flex, space-around, "");
}