@for $in from 1 through 10{
    @each $port in bautismos , cumples , comuniones , bodas , empresariales , especiales{
    .portfolio__#{$port}#{$in} {
        background-image: url(./img/Portfolio/#{$port}#{$in}.webp);
        }
    }
} 
.portfolio__img{
    @include fotos (250px, 350px, no-repeat, center, contain);
    align-content: center;
    border: $color_primario solid 3px;
}
.porfolio__links{
    text-decoration: none;   
}
.porfolio__links:hover{
    color: $color_complementario; 
}
.portfolio_border{
    border-bottom: 85px solid $color_primario;
}

