.porfolio__links{
    text-decoration: none;   
}
.porfolio__links:hover{
    color: $color_complementario; 
}
.portfolio__img{
    height: 350px;
    width: 250px;
    align-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: $color_primario solid 3px;
}


@for $in from 1 through 10{
    @each $port in bautismos , cumples , comuniones , bodas , empresariales , especiales{
    .portfolio__#{$port}#{$in} {
        background-image: url(./img/Portfolio/#{$port}#{$in}.webp);
        }
    }
} 