.servicios__img{
    @include fotos (600px, 450px, no-repeat, center, cover);
}

@for $in from 1 through 8{
    .servicios__img#{$in} {
        background-image: url(./img/servicios/servicios#{$in}.webp);
    }
}
.servicios__bg{
    background-color: $color_primario;
    place-content: center;
}