.somos__img{
    @include fotos (800px, 450px, no-repeat, center, cover);
}
.somos__img1{
    background-image: url(./img/somos/somos1.webp);
    background-position: right !important;
}
.somos__img2{
    background-image: url(./img/somos/somos2.webp);
}
.somos__img3{
    background-image: url(./img/somos/somos3.webp);
}