.somos__img{
    width: 800px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.somos__img1{
    background-image: url(./img/somos/somos1.webp);
    background-position: right !important;
}
.somos__img2{
    background-image: url(./img/somos/somos2.webp);
}
.somos__img3{
    background-image: url(./img/somos/somos3.webp);
}