@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&family=Rowdies&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  color: #245178;
  font-size: 30px;
  font-weight: "";
  list-style: "";
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
}

p, h2 {
  margin-bottom: 0px !important;
}

ol, ul {
  padding-left: 0px !important;
  margin: 0px;
}

.btn-link {
  color: #245178;
  font-size: large;
  font-weight: bold;
  list-style: "";
  text-decoration: none !important;
}

.btn-link:hover {
  color: orange !important;
}

.btn-outline-dark {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.btn-outline-dark:hover {
  background-color: rgb(242, 239, 239);
  color: #000;
}

.navbar-brand {
  margin-right: 0px !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.color {
  color: #245178;
}

.bg-color {
  background-color: #245178;
}

.p-black {
  color: #000;
  font-size: 18px;
  text-align: center;
}
.p-black span {
  font-weight: bolder;
  color: #245178;
}

.p-complementary {
  color: orange;
}

.p-white {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.p-white span {
  font-weight: bolder;
  color: orange;
}

.header1 {
  background-color: #245178;
  justify-content: center;
}

.header1__icons {
  align-items: center;
  color: "";
  display: flex;
  justify-content: space-evenly;
  text-decoration: "";
  text-align: center;
}

.header1__icons_icon {
  align-items: center;
  color: #245178;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  height: 30px;
  width: 30px;
  right: "";
  left: "";
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
}

.header2 {
  height: auto;
  width: 100%;
  right: "";
  left: "";
  background-color: #fff;
}

.header2__logo {
  align-content: center;
  display: flex;
  margin-right: 0px !important;
}

.header2__bar {
  color: #245178;
  font-size: 20px;
  font-weight: bold;
  list-style: "";
  font-family: "Rowdies", cursive;
}

.header2__bar__links {
  align-items: "";
  color: #245178;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: "";
  font-size: 22px;
  font-weight: bold;
  list-style: none;
}

.header2__bar__links:hover {
  color: orange;
}

.header2__bar__icon {
  align-items: "";
  color: #245178;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: "";
  font-size: 22px;
  font-weight: "";
  list-style: none;
}

#person {
  --bs-gutter-x: 0rem !important;
}

.logo {
  --bs-gutter-x: 1rem !important;
}

.footer {
  color: #245178;
}

.footer:visited {
  color: #245178;
}

.footer:hover {
  color: orange;
}

.footer__text {
  font-size: 19px;
}

.footer_border {
  border-left: 4px solid #245178;
}

.up {
  align-items: center;
  color: #245178;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  height: 40px;
  width: 40px;
  right: 20px;
  left: "";
  background-color: orange;
  border-radius: 55%;
  bottom: 23px;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  font-size: 30px;
}

.home__img__presentacion {
  width: 100%;
  height: "";
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  background-image: url(./img/Home/presentacion.webp);
}

.home__txt__presentacion {
  color: #fff;
  font-size: "";
  font-weight: bold;
  list-style: "";
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: 0 0 40px #000;
}

.home__boton__presentacion {
  background-color: #245178 !important;
  font-weight: bold;
}

.home__boton__presentacion:hover {
  color: #fff !important;
}

.home__carousel__img {
  height: 65vh !important;
}

.home__img_colaboradoras {
  height: auto;
  width: 100%;
  right: "";
  left: "";
  align-content: center;
  padding: 2vh;
}

.home__container__img__colaboradoras {
  align-items: center;
  color: "";
  display: flex;
  justify-content: center;
  text-decoration: "";
  transition: 0.7s;
}

.home__container__img__colaboradoras:hover {
  transform: scale(1.4);
  transition: 0.7s;
}

.home__cards {
  align-items: "";
  color: "";
  display: flex;
  justify-content: space-around;
  text-decoration: "";
}

.somos__img {
  width: 800px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.somos__img1 {
  background-image: url(./img/somos/somos1.webp);
  background-position: right !important;
}

.somos__img2 {
  background-image: url(./img/somos/somos2.webp);
}

.somos__img3 {
  background-image: url(./img/somos/somos3.webp);
}

.servicios__img {
  width: 600px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.servicios__img1 {
  background-image: url(./img/servicios/servicios1.webp);
}

.servicios__img2 {
  background-image: url(./img/servicios/servicios2.webp);
}

.servicios__img3 {
  background-image: url(./img/servicios/servicios3.webp);
}

.servicios__img4 {
  background-image: url(./img/servicios/servicios4.webp);
}

.servicios__img5 {
  background-image: url(./img/servicios/servicios5.webp);
}

.servicios__img6 {
  background-image: url(./img/servicios/servicios6.webp);
}

.servicios__img7 {
  background-image: url(./img/servicios/servicios7.webp);
}

.servicios__img8 {
  background-image: url(./img/servicios/servicios8.webp);
}

.servicios__bg {
  background-color: #245178;
  place-content: center;
}

.portfolio__bautismos1 {
  background-image: url(./img/Portfolio/bautismos1.webp);
}

.portfolio__cumples1 {
  background-image: url(./img/Portfolio/cumples1.webp);
}

.portfolio__comuniones1 {
  background-image: url(./img/Portfolio/comuniones1.webp);
}

.portfolio__bodas1 {
  background-image: url(./img/Portfolio/bodas1.webp);
}

.portfolio__empresariales1 {
  background-image: url(./img/Portfolio/empresariales1.webp);
}

.portfolio__especiales1 {
  background-image: url(./img/Portfolio/especiales1.webp);
}

.portfolio__bautismos2 {
  background-image: url(./img/Portfolio/bautismos2.webp);
}

.portfolio__cumples2 {
  background-image: url(./img/Portfolio/cumples2.webp);
}

.portfolio__comuniones2 {
  background-image: url(./img/Portfolio/comuniones2.webp);
}

.portfolio__bodas2 {
  background-image: url(./img/Portfolio/bodas2.webp);
}

.portfolio__empresariales2 {
  background-image: url(./img/Portfolio/empresariales2.webp);
}

.portfolio__especiales2 {
  background-image: url(./img/Portfolio/especiales2.webp);
}

.portfolio__bautismos3 {
  background-image: url(./img/Portfolio/bautismos3.webp);
}

.portfolio__cumples3 {
  background-image: url(./img/Portfolio/cumples3.webp);
}

.portfolio__comuniones3 {
  background-image: url(./img/Portfolio/comuniones3.webp);
}

.portfolio__bodas3 {
  background-image: url(./img/Portfolio/bodas3.webp);
}

.portfolio__empresariales3 {
  background-image: url(./img/Portfolio/empresariales3.webp);
}

.portfolio__especiales3 {
  background-image: url(./img/Portfolio/especiales3.webp);
}

.portfolio__bautismos4 {
  background-image: url(./img/Portfolio/bautismos4.webp);
}

.portfolio__cumples4 {
  background-image: url(./img/Portfolio/cumples4.webp);
}

.portfolio__comuniones4 {
  background-image: url(./img/Portfolio/comuniones4.webp);
}

.portfolio__bodas4 {
  background-image: url(./img/Portfolio/bodas4.webp);
}

.portfolio__empresariales4 {
  background-image: url(./img/Portfolio/empresariales4.webp);
}

.portfolio__especiales4 {
  background-image: url(./img/Portfolio/especiales4.webp);
}

.portfolio__bautismos5 {
  background-image: url(./img/Portfolio/bautismos5.webp);
}

.portfolio__cumples5 {
  background-image: url(./img/Portfolio/cumples5.webp);
}

.portfolio__comuniones5 {
  background-image: url(./img/Portfolio/comuniones5.webp);
}

.portfolio__bodas5 {
  background-image: url(./img/Portfolio/bodas5.webp);
}

.portfolio__empresariales5 {
  background-image: url(./img/Portfolio/empresariales5.webp);
}

.portfolio__especiales5 {
  background-image: url(./img/Portfolio/especiales5.webp);
}

.portfolio__bautismos6 {
  background-image: url(./img/Portfolio/bautismos6.webp);
}

.portfolio__cumples6 {
  background-image: url(./img/Portfolio/cumples6.webp);
}

.portfolio__comuniones6 {
  background-image: url(./img/Portfolio/comuniones6.webp);
}

.portfolio__bodas6 {
  background-image: url(./img/Portfolio/bodas6.webp);
}

.portfolio__empresariales6 {
  background-image: url(./img/Portfolio/empresariales6.webp);
}

.portfolio__especiales6 {
  background-image: url(./img/Portfolio/especiales6.webp);
}

.portfolio__bautismos7 {
  background-image: url(./img/Portfolio/bautismos7.webp);
}

.portfolio__cumples7 {
  background-image: url(./img/Portfolio/cumples7.webp);
}

.portfolio__comuniones7 {
  background-image: url(./img/Portfolio/comuniones7.webp);
}

.portfolio__bodas7 {
  background-image: url(./img/Portfolio/bodas7.webp);
}

.portfolio__empresariales7 {
  background-image: url(./img/Portfolio/empresariales7.webp);
}

.portfolio__especiales7 {
  background-image: url(./img/Portfolio/especiales7.webp);
}

.portfolio__bautismos8 {
  background-image: url(./img/Portfolio/bautismos8.webp);
}

.portfolio__cumples8 {
  background-image: url(./img/Portfolio/cumples8.webp);
}

.portfolio__comuniones8 {
  background-image: url(./img/Portfolio/comuniones8.webp);
}

.portfolio__bodas8 {
  background-image: url(./img/Portfolio/bodas8.webp);
}

.portfolio__empresariales8 {
  background-image: url(./img/Portfolio/empresariales8.webp);
}

.portfolio__especiales8 {
  background-image: url(./img/Portfolio/especiales8.webp);
}

.portfolio__bautismos9 {
  background-image: url(./img/Portfolio/bautismos9.webp);
}

.portfolio__cumples9 {
  background-image: url(./img/Portfolio/cumples9.webp);
}

.portfolio__comuniones9 {
  background-image: url(./img/Portfolio/comuniones9.webp);
}

.portfolio__bodas9 {
  background-image: url(./img/Portfolio/bodas9.webp);
}

.portfolio__empresariales9 {
  background-image: url(./img/Portfolio/empresariales9.webp);
}

.portfolio__especiales9 {
  background-image: url(./img/Portfolio/especiales9.webp);
}

.portfolio__bautismos10 {
  background-image: url(./img/Portfolio/bautismos10.webp);
}

.portfolio__cumples10 {
  background-image: url(./img/Portfolio/cumples10.webp);
}

.portfolio__comuniones10 {
  background-image: url(./img/Portfolio/comuniones10.webp);
}

.portfolio__bodas10 {
  background-image: url(./img/Portfolio/bodas10.webp);
}

.portfolio__empresariales10 {
  background-image: url(./img/Portfolio/empresariales10.webp);
}

.portfolio__especiales10 {
  background-image: url(./img/Portfolio/especiales10.webp);
}

.portfolio__img {
  width: 250px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-content: center;
  border: #245178 solid 3px;
}

.porfolio__links {
  text-decoration: none;
}

.porfolio__links:hover {
  color: orange;
}

.portfolio_border {
  border-bottom: 85px solid #245178;
}

.contacto__link {
  text-decoration: underline;
  color: #fff;
}

.contacto__link:hover {
  color: orange;
}

.contacto__datos {
  border: 9px solid #245178;
}

/*# sourceMappingURL=estilos.css.map */
